// IMPORTS =============================================================

@import 'setup';

// DEFAULTS ============================================================

html {font-size: 62.5%;}
body {font-size: 1.4rem;}
a:hover, a:active {outline: 0;}
nav a[href]:not([class]) {text-decoration: none;color: #222;}

// VARIABLES ============================================================


// MAIN CONTENT =========================================================



/****** header *********/
/****** navigation *********/
/****** main content *********/
/****** footer *********/

// MEDIA QUERIES =======================================================

/* Portrait tablet and small desktops */
@media (max-width: 940px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}